/*.alert-success {
    color: #721c24!important;
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
}*/

.footer {
    height: 40px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 6px;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.nav-link {
    display: block;
    padding: 0 !important;
}

.container-fluid h1 {
    font-size: 28px;
}

.form-group label {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
}

.nav li:hover {
    color: #ffffff !important;
    background-color: #f6b801;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #f6b801 !important;
}

.dropdown-blue {
    background-color: #f6b801 !important;
}

/*автовыбор меню*/
.ui-menu-item div:hover {
    background-color: #f6b801;
    color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff!important;
    text-decoration: none!important;
    background-color: #f6b801!important;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}
.green {
    background-color: #aaffaa !important;
}
/*автовыбор меню*/

/*классы для оформления таблиц*/
.grid_table_th, .grid_table_th a {
    color: #000000; !important
    background-color: #ffffff; !important
}

.grid_table_tr {
    color: #000000; !important
    background-color: #000000; !important;
}

.w-40 {
    width: 40% !important;
}

.table_th0 th, .table_th0 td{
    padding: 0.07rem; !important;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
.table-danger-2 th, .table-danger-2 td, .table-danger-2 thead th, .table-danger-2 tbody + tbody {
    border-color: #ec505f;
}
.table-danger-2, .table-danger-2 > th, .table-danger-2 > td {
    background-color: #f69aa3;
}
.modal-header-p3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem 0rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.btn-white {
    color: #000!important;
    background-color: #fff!important;
    border-color: #fff!important;
    opacity: 0.5!important;
}

.main-color {
    background-color: #0ea1a8 !important;
}
.main-color-2 {
    background-color: #7d3864 !important;
}
.main-color-3 {
    background-color: #f6b801 !important;
}
.main-color-4 {
    background-color: #ff99bb !important;
}
.main-color-5 { background-color: #b7deff !important; }
.main-color-6 { background-color: #ffaaaa !important; }
.main-color-7 { background-color: #ffeaae !important; }
.main-color-8 { background-color: #ddaaff !important; }
.main-color-9 { background-color: #aaffaa !important; }


.main-button {
    color: #fff!important;
    background-color: #f6b801!important;
    border-color: #f6b801!important;
}
.main-button:hover {
    color: #f6b801!important;
    background-color: #fff !important;
    border-color: #f6b801!important;
}

.main-button-2 {
    color: #fff!important;
    background-color: #7d3864 !important;
    border-color: #7d3864!important;
}
.main-button-2:hover {
    color: #7d3864!important;
    background-color: #fff !important;
    border-color: #7d3864!important;
}
.main-button-2-outline {
    color: #7d3864!important;
    border-color: #7d3864!important;
}
.main-button-2-outline:hover {
    color: #fff!important;
    background-color: #7d3864 !important;
    border-color: #7d3864!important;
}
.main-button-3 {
    color: #fff!important;
    background-color: #0ea1a8 !important;
    border-color: #0ea1a8!important;
}
.main-button-3:hover {
    color: #0ea1a8!important;
    background-color: #fff !important;
    border-color: #0ea1a8!important;
}

.main-button-2-hover-orange {
    color: #fff!important;
    background-color: #7d3864 !important;
    border-color: #7d3864!important;
}
.main-button-2-hover-orange:hover {
    color: #fff!important;
    background-color: #f6b801 !important;
    border-color: #f6b801!important;
}
.main-button-see {
    color: #fff!important;
    background-color: #f6b801!important;
    border-color: #f6b801!important;
}
.main-button-see:hover {
    color: #f6b801!important;
    background-color: #fff !important;
    border-color: #f6b801!important;
}
.main-button-edit {
    color: #fff!important;
    background-color: #0ea1a8 !important;
    border-color: #0ea1a8!important;
}
.main-button-edit:hover {
    color: #0ea1a8!important;
    background-color: #fff !important;
    border-color: #0ea1a8!important;
}
.main-button-delete {
    color: #fff!important;
    background-color: #dc3545 !important;
    border-color: #dc3545!important;
}
.main-button-delete:hover {
    color: #dc3545!important;
    background-color: #fff !important;
    border-color: #dc3545!important;
}
.main-info-see, .main-info-see > th, .main-info-see > td {
    background-color: #aeeabc!important;
    border-color: #8fd19e!important;
}

.lt-1 {
    letter-spacing: 0px;
    font-size: 14px!important;
}

/*select2-all*/
.s2-select-label, .s2-unselect-label {
    line-height: 1.1;
    font-size: 16px;
}
.s2-togall-button {
    display: inline-block;
    font-weight: 400;
    color: #0ea1a8;
    padding: 0.5rem;
    cursor: pointer;
}

/*modal-razrab-menu*/
.ui-autocomplete {
    z-index: 1051 !important;
}

.pagination .prev {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination .next {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


.main-button-active {
    color: #fff!important;
    background-color: #ff99bb !important;
    border-color: #ff99bb!important;
}

